In [25]:
import numpy as np
import pandas as pd

In [26]:
data = np.random.rand(50, 3)
df = pd.DataFrame(data, columns=["Column1", "Column2", "Column3"])
df1 = pd.DataFrame(data, columns=["Column1", "Column2", "Column3"])

num_nulls = int(0.1 * df.size)
null_indices = np.random.choice(df.size, num_nulls, replace=False)
df.values.flat[null_indices] = np.nan

In [27]:
# a. Identify and count missing values
print("(a)")
print()

missing_values = df.isnull().sum()

print(missing_values)
print()

(a)

Column1    8
Column2    4
Column3    3
dtype: int64

In [28]:
# b. Drop columns with more than 5 null values
print("(b)")
print()

print("Initial DataFrame : \n", df)
print()

df = df.dropna(thresh=len(df) - 5, axis=1)

print("DataFrame after Dropping Column with Null Values > 5 : \n", df)
print()

(b)

Initial DataFrame :
      Column1   Column2   Column3
0   0.429275  0.430260  0.824515
1   0.691128       NaN  0.859820
2   0.775877       NaN  0.124840
3   0.558783  0.683996  0.913539
4   0.820662  0.002052  0.681446
5   0.098527  0.209057  0.422962
6   0.087658  0.134098  0.393690
7        NaN  0.560141  0.688628
8   0.198417  0.644343  0.200592
9   0.921297  0.166803  0.304656
10  0.713466  0.281786  0.845214
11  0.980239  0.004105  0.085964
12  0.410839  0.379775  0.829374
13  0.852256  0.125341  0.225491
14  0.916828  0.337929  0.887526
15       NaN  0.494273  0.870921
16  0.591562  0.761205  0.342375
17  0.254462  0.276105  0.332690
18       NaN  0.242803  0.236761
19  0.244845  0.351498  0.420592
20       NaN  0.378193       NaN
21       NaN  0.763527  0.867176
22  0.737723  0.851062  0.082042
23  0.576131  0.711619  0.164636
24  0.646839  0.406348  0.579718
25  0.353912  0.068514  0.602729
26  0.442513  0.935006  0.098692
27  0.520445  0.667435  0.160881
28       NaN  0.048290  0.788987
29  0.443477  0.319815  0.650977
30  0.887250  0.209122  0.763800
31  0.914311  0.271929  0.707319
32       NaN  0.797705  0.552762
33  0.740837  0.173849       NaN
34  0.685241  0.501762  0.635827
35  0.984325  0.535185  0.577884
36  0.426976  0.628260  0.079967
37  0.384327       NaN  0.083305
38  0.079712  0.344753  0.723027
39  0.879814  0.541200  0.538568
40  0.071903  0.606519  0.922194
41  0.886462  0.855875  0.783334
42  0.058066  0.402170  0.935611
43  0.764186       NaN  0.111660
44  0.486881  0.743103  0.200296
45  0.744433  0.874287  0.104370
46  0.047125  0.079936  0.828962
47  0.427488  0.508399  0.430536
48       NaN  0.467656       NaN
49  0.308624  0.966429  0.778686

DataFrame after Dropping Column with Null Values > 5 :
      Column2   Column3
0   0.430260  0.824515
1        NaN  0.859820
2        NaN  0.124840
3   0.683996  0.913539
4   0.002052  0.681446
5   0.209057  0.422962
6   0.134098  0.393690
7   0.560141  0.688628
8   0.644343  0.200592
9   0.166803  0.304656
10  0.281786  0.845214
11  0.004105  0.085964
12  0.379775  0.829374
13  0.125341  0.225491
14  0.337929  0.887526
15  0.494273  0.870921
16  0.761205  0.342375
17  0.276105  0.332690
18  0.242803  0.236761
19  0.351498  0.420592
20  0.378193       NaN
21  0.763527  0.867176
22  0.851062  0.082042
23  0.711619  0.164636
24  0.406348  0.579718
25  0.068514  0.602729
26  0.935006  0.098692
27  0.667435  0.160881
28  0.048290  0.788987
29  0.319815  0.650977
30  0.209122  0.763800
31  0.271929  0.707319
32  0.797705  0.552762
33  0.173849       NaN
34  0.501762  0.635827
35  0.535185  0.577884
36  0.628260  0.079967
37       NaN  0.083305
38  0.344753  0.723027
39  0.541200  0.538568
40  0.606519  0.922194
41  0.855875  0.783334
42  0.402170  0.935611
43       NaN  0.111660
44  0.743103  0.200296
45  0.874287  0.104370
46  0.079936  0.828962
47  0.508399  0.430536
48  0.467656       NaN
49  0.966429  0.778686

In [29]:
# c. Identify the row label with the maximum sum of values and drop that row
print("(c)")
print()

max_row_label = df.sum(axis=1).idxmax()
print("Row Label with Max Sum : ", max_row_label)
print()

df = df.drop(max_row_label)

print("DataFrame after Dropping The Same : \n", df)
print()

(c)

Row Label with Max Sum :  49

DataFrame after Dropping The Same :
      Column2   Column3
0   0.430260  0.824515
1        NaN  0.859820
2        NaN  0.124840
3   0.683996  0.913539
4   0.002052  0.681446
5   0.209057  0.422962
6   0.134098  0.393690
7   0.560141  0.688628
8   0.644343  0.200592
9   0.166803  0.304656
10  0.281786  0.845214
11  0.004105  0.085964
12  0.379775  0.829374
13  0.125341  0.225491
14  0.337929  0.887526
15  0.494273  0.870921
16  0.761205  0.342375
17  0.276105  0.332690
18  0.242803  0.236761
19  0.351498  0.420592
20  0.378193       NaN
21  0.763527  0.867176
22  0.851062  0.082042
23  0.711619  0.164636
24  0.406348  0.579718
25  0.068514  0.602729
26  0.935006  0.098692
27  0.667435  0.160881
28  0.048290  0.788987
29  0.319815  0.650977
30  0.209122  0.763800
31  0.271929  0.707319
32  0.797705  0.552762
33  0.173849       NaN
34  0.501762  0.635827
35  0.535185  0.577884
36  0.628260  0.079967
37       NaN  0.083305
38  0.344753  0.723027
39  0.541200  0.538568
40  0.606519  0.922194
41  0.855875  0.783334
42  0.402170  0.935611
43       NaN  0.111660
44  0.743103  0.200296
45  0.874287  0.104370
46  0.079936  0.828962
47  0.508399  0.430536
48  0.467656       NaN

In [30]:
# d. Sort the DataFrame based on the first column
print("(d)")
print()

df = df1.sort_values(by="Column1")

print("DataFrame with Sorted Values : \n", df)
print()

(d)

DataFrame with Sorted Values :
      Column1   Column2   Column3
46  0.047125  0.079936  0.828962
42  0.058066  0.402170  0.935611
40  0.071903  0.606519  0.922194
38  0.079712  0.344753  0.723027
6   0.087658  0.134098  0.393690
5   0.098527  0.209057  0.422962
8   0.198417  0.644343  0.200592
19  0.244845  0.351498  0.420592
17  0.254462  0.276105  0.332690
49  0.308624  0.966429  0.778686
25  0.353912  0.068514  0.602729
37  0.384327       NaN  0.083305
12  0.410839  0.379775  0.829374
36  0.426976  0.628260  0.079967
47  0.427488  0.508399  0.430536
0   0.429275  0.430260  0.824515
26  0.442513  0.935006  0.098692
29  0.443477  0.319815  0.650977
44  0.486881  0.743103  0.200296
27  0.520445  0.667435  0.160881
3   0.558783  0.683996  0.913539
23  0.576131  0.711619  0.164636
16  0.591562  0.761205  0.342375
24  0.646839  0.406348  0.579718
34  0.685241  0.501762  0.635827
1   0.691128       NaN  0.859820
10  0.713466  0.281786  0.845214
22  0.737723  0.851062  0.082042
33  0.740837  0.173849       NaN
45  0.744433  0.874287  0.104370
43  0.764186       NaN  0.111660
2   0.775877       NaN  0.124840
4   0.820662  0.002052  0.681446
13  0.852256  0.125341  0.225491
39  0.879814  0.541200  0.538568
41  0.886462  0.855875  0.783334
30  0.887250  0.209122  0.763800
31  0.914311  0.271929  0.707319
14  0.916828  0.337929  0.887526
9   0.921297  0.166803  0.304656
11  0.980239  0.004105  0.085964
35  0.984325  0.535185  0.577884
7        NaN  0.560141  0.688628
15       NaN  0.494273  0.870921
18       NaN  0.242803  0.236761
20       NaN  0.378193       NaN
21       NaN  0.763527  0.867176
28       NaN  0.048290  0.788987
32       NaN  0.797705  0.552762
48       NaN  0.467656       NaN

In [31]:
# e. Remove duplicates from the first column
print("(e)")
print()

df = df.drop_duplicates(subset="Column1")

print("DataFrame After Dropping Duplicates : \n", df)
print()

(e)

DataFrame After Dropping Duplicates :
      Column1   Column2   Column3
46  0.047125  0.079936  0.828962
42  0.058066  0.402170  0.935611
40  0.071903  0.606519  0.922194
38  0.079712  0.344753  0.723027
6   0.087658  0.134098  0.393690
5   0.098527  0.209057  0.422962
8   0.198417  0.644343  0.200592
19  0.244845  0.351498  0.420592
17  0.254462  0.276105  0.332690
49  0.308624  0.966429  0.778686
25  0.353912  0.068514  0.602729
37  0.384327       NaN  0.083305
12  0.410839  0.379775  0.829374
36  0.426976  0.628260  0.079967
47  0.427488  0.508399  0.430536
0   0.429275  0.430260  0.824515
26  0.442513  0.935006  0.098692
29  0.443477  0.319815  0.650977
44  0.486881  0.743103  0.200296
27  0.520445  0.667435  0.160881
3   0.558783  0.683996  0.913539
23  0.576131  0.711619  0.164636
16  0.591562  0.761205  0.342375
24  0.646839  0.406348  0.579718
34  0.685241  0.501762  0.635827
1   0.691128       NaN  0.859820
10  0.713466  0.281786  0.845214
22  0.737723  0.851062  0.082042
33  0.740837  0.173849       NaN
45  0.744433  0.874287  0.104370
43  0.764186       NaN  0.111660
2   0.775877       NaN  0.124840
4   0.820662  0.002052  0.681446
13  0.852256  0.125341  0.225491
39  0.879814  0.541200  0.538568
41  0.886462  0.855875  0.783334
30  0.887250  0.209122  0.763800
31  0.914311  0.271929  0.707319
14  0.916828  0.337929  0.887526
9   0.921297  0.166803  0.304656
11  0.980239  0.004105  0.085964
35  0.984325  0.535185  0.577884
7        NaN  0.560141  0.688628

In [32]:
# f. Find the correlation between the first and second column & the covariance between the second and third column
print("(f)")
print()

correlation = df["Column1"].corr(df["Column2"])
covariance = df["Column2"].cov(df["Column3"])

print("Correlation b/w 1st & 2nd Columns : ", correlation)
print("Covariance b/w 2nd & 3rd Columns : ", covariance)
print()

(f)

Correlation b/w 1st & 2nd Columns :  -0.025360040759211187
Covariance b/w 2nd & 3rd Columns :  -0.017145441412114992

In [38]:
# g. Discretize the second column and create 5 bins
print("(g)")
print()

# Specify the number of bins
num_bins = 5

# Discretize the second column into 5 bins
df["Column2_bins"] = pd.cut(df["Column2"], bins=num_bins)

print("DataFrame after Discretizing the Second Column into 5 Bins: \n", df)

(g)

TypeError: putmask: first argument must be an array